@tailwind base;
@tailwind components;
@tailwind utilities;

[class^="ri-"], [class*=" ri-"]
{
    vertical-align : bottom;
}

a[target="_blank"].external
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}
