@tailwind base
@tailwind components
@tailwind utilities

@layer base
  @font-face
    font-family: Domine
    src: url("/assets/fonts/Domine-VariableFont_wght.ttf")
  @font-face
    font-family: 'Dancing Script'
    src: url("/assets/fonts/DancingScript-VariableFont_wght.ttf")
  @font-face
    font-family: Signika
    src: url("/assets/fonts/Signika-VariableFont_GRAD,wght.ttf")

*
  @apply scroll-smooth

::-webkit-scrollbar
  @apply h-[1px] w-[2px]
::-webkit-scrollbar-track
  @apply bg-white
  &.no-scrollbar
    @apply bg-transparent
::-webkit-scrollbar-thumb
  @apply bg-grey-400
  &.no-scrollbar
    @apply bg-transparent
::-webkit-scrollbar-thumb:hover
  @apply bg-brown
  &.no-scrollbar
    @apply bg-transparent

router-outlet
  @apply hidden

body
  @apply text-grey-600 font-sans

  > main
    > section[path]:not([path="/"]),
    > section[path="/"] > article + article
      background-color: #dfdee0

    > section[path]:not([path="/"])
      @apply flex-grow
      @apply min-h-screen snap-start
      @apply sm:pt-[5.70rem] pt-[4.70rem]
      @apply px-[max(2rem,calc((100vw-var(--max-width))/2))]
